{{>layouts/header}}
{{#article}}
    <div class = "card" style="width: 18rem;">
        <br>
            <div class="card-body">
                {{#title}}
                    <h5 class="card-title">제목: {{title}}</h5>
                {{/title}}
                {{^title}}
                    <h5 class="card-title">제목이 없습니다.</h5>
                {{/title}}

                {{#content}}
                    <h6 class="card-subtitle mb-2 text-muted">{{content}}</h6>
                {{/content}}
                {{^content}}
                    <h6 class="card-subtitle mb-2 text-muted">내용이 없습니다.</h6>
                {{/content}}

                <a href="/articles/new" class="card-link">new article</a>
                <a href="/articles" class="card-link">list article</a>

            </div>

    </div>
    <a href = "/articles/{{id}}/edit" class="btn btn-primary">Edit</a>
    <a href = "/articles/{{id}}/delete" class="btn btn-danger">Delete</a>
{{/article}}

{{>layouts/footer}}